@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/circular-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circular Regular';
    src: url('../fonts/circular-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Circular Bold';
    src: url('../fonts/circular-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Black';
    src: url('../fonts/circular-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

html,body
{
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: 'kern';
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Circular Book', sans-serif !important;
}
eb3812
body,p,a{
  font-family: 'Circular Book', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Circular Bold', sans-serif;
}

.footer {
  background-color:#00a3da;
}
.footer ul li a{
color:#fff;
font-weight: bold;
}
.footer ul li{
  margin:10px 30px 0px 0px;
}
.footer ul li a:hover{
text-decoration: none;
}
.modal-header{
  border:none;
}
.modal-footer{
  border:none;
}
label{
  color:#838383 !important;
}
.forgot h4{
  color:#838383
}
.forgot span a{
  color: #00a3da
}
.offer ul
{
  list-style-type: none;
  /*text-align: center;*/
  padding:0px; 
}
.offer ul li{
  display: inline-block;
  padding: 10px 30px;
  width:19%;

}
.load ul
{
  list-style-type: none;
  /*text-align: center;*/
  padding:0px; 
}
.load ul li{
  display: inline-block;
  /*padding: 10px 55px;*/
  width:24%;
 
}
.mg-l{
  margin-left:25px !important;
}
.equipments ul
{
  list-style-type: none;
  text-align: center;
  padding:20px; 
}
.equipments ul li{
  display: inline-block;
  padding: 10px 30px;
}
.category ul
{
  list-style-type: none;
  text-align: center;
  padding:20px; 
}
.category ul li{
  display: inline-block;
  /*padding: 10px 70px;*/
   margin:20px;
  width:40%
}

.btn-customdefault {
  color:#0b0b0b;
  background-color: #fff;
  border:1px solid #ccc;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-customdefault:hover,
.btn-customdefault:focus,
.btn-customdefault.focus,
.btn-customdefault:active,
.btn-customdefault.active,
.open > .dropdown-toggle.btn-customdefault {
  color: white;
  background-color: #838383;
  border-color: #838383;
}
.btn-customdefault:active,
.btn-customdefault.active,
.open > .dropdown-toggle.btn-customdefault {
  background-image: none;
}
.btn-customdefault.disabled,
.btn-customdefault[disabled],
fieldset[disabled] .btn-customdefault,
.btn-customdefault.disabled:hover,
.btn-customdefault[disabled]:hover,
fieldset[disabled] .btn-customdefault:hover,
.btn-customdefault.disabled:focus,
.btn-customdefault[disabled]:focus,
fieldset[disabled] .btn-customdefault:focus,
.btn-customdefault.disabled.focus,
.btn-customdefault[disabled].focus,
fieldset[disabled] .btn-customdefault.focus,
.btn-customdefault.disabled:active,
.btn-customdefault[disabled]:active,
fieldset[disabled] .btn-customdefault:aceb3812tive,
.btn-customdefault.disabled.active,
.btn-customdefault[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #00a3da;
  border-color: #00a3da;
}
.Vehicleupload{
  background-color:#ccc;
  margin-left:15px;
}
.Vehicleupload img{
padding-top:15px
}
.cusupload{
  background-color:#ccc;
}
.cusupload img{
padding-top:15px
}
.Request{
  padding:50px 0px;
}
.Request form{
 margin-top:20px
}
.scrollA{
  color:#fff ;
}
.navco{
  color:#000 !important ;
}
.min .navback{
  background-color: #fff;
  border-color:rgba(34, 34, 34, 0.08);
}
.navbar-header2{
  float:left;
  margin-right:0px;
  margin-left:0px;
}
.cursor{
  cursor: pointer;
}
.add-more{
  width: 112px;
height: 112px;
margin-top:5px;
 background-color:#ccc;
}
.add-more img{
padding-top:15px
}
.image-upload{
  width: 112px;
height: 112px;
margin-top:5px;
}
.image-upload img{
  width: 112px;
height: 112px;
object-fit: cover;
border-radius:2px;
border:1px solid rgba(0,0,0,0.12);
}
.footer li .active{
    width: 100%;
    padding: 3px;
    border-bottom: 3px solid #fff;
}
.footer li:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.footer li:hover:after {
	width: 100%;
	background: #fff;
}
.multidrop{
  width:100%;
}
.multidrop .multiselect-parent.btn-group.dropdown-multiselect{
  width:100%;
}
.multidrop button {
  width:100%;
  background-color: #fff;
  border:1px solid #ccc;
  height:46px;
  text-align: left
}
.multidrop .caret{
  float:right;
  position:relative;
  top:8px
}



/*----navneet---------*/



.footer { margin-top: 56px; }
.banner button{margin-top: 25px;border:0px;color:#fff;box-shadow:0 0 1px #ccc;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: linear;box-shadow:0px 0 0 #31708f  inset;font-size: 17px; background-color: #00A3DA;padding: 12px 45px; border-radius: 5px; font-weight: bold; }
.banner button:hover{box-shadow:0 0 0 25px #0f99c7  inset;-webkit-transform: scale(1); font-size: 17px;}
.my-quotation { padding: 50px 0; }
.my-quotation .nav > li > a { padding: 18px 0; font-size: 16px; color: #9a9a9a; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #fff; color: #2a2a2a; }
.my-quotation .nav > li > a:hover, .my-quotation .nav > li > a:focus { background-color: #fff; color: #6a6a6a; }
.form-group.sl-box select { width: 20%; display: inline-block; line-height: 36px; height: 36px; }
.form-group.sl-box label { display: inline-block;margin-right:15px; margin-top: 10px; padding: 0px; border-radius:none; }
.form-group.sl-box .form-control { border-radius: none!important; }
.sl-box .input-lg { border-radius:1px!important; }
.brdr { border: 2px solid #eaeaea; padding:25px; border-radius: 6px; margin-top: 25px; }
.brdr strong { font-size: 18px; }
.brdr a { margin-left: 25px; }
.brdr table { width: 100%; }
.brdr table td { padding: 18px 0;}
.btn.view { background-color: #fff; color: #00A3DA; padding: 2px 15px 10px 15px; }
.btn.view:active, .btn.view.active { box-shadow: none; }
.btn.view:focus, .btn.view:active:focus, .btn.view.active:focus, .btn.view.focus, .btn.view:active.focus, .btn.view.active.focus { outline: none; }
.pdlr-25 { padding: 0 25px; }
.pdlr-25 a{ float: right; font-size: 13px; }
.pdlr-25 a:hover { text-decoration: none; }
.pdlr-25 h4 { font-size: 24px; color: #3a3a3a; margin-top: 20px; }
.pdlr-25 h5 { margin-top:30px; font-size: 20px; color: #3a3a3a; }
.pdlr-25 h6 { font-size: 16px; color:#858585;font-weight: 300;}
.pdlr-25 p { font-size: 15px; color: #5a5a5a; padding:5px 0;font-weight: 300; }
.pdlr-25 span{ width: 80%; display: inline-block; float: right;}
.pdlr-25 small { display: block; font-size: 15px; padding: 10px 0; }
.pdlr-25 strong { font-weight: normal; font-size: 15px; }
.pdlr-25 img { margin-top: 10px; }
.my-qutation { padding: 60px 0; }
.brdr.other { height: 660px; }
.mt-30 { margin-top: 30px; }
.mt-30 .form-group.sl-box span { float: left; font-size: 22px; font-weight: 500; margin-left: 25px; padding-top: 5px; color: #5a5a5a; }
.brdr .table > thead > tr > th, .brdr .table > tbody > tr > th, .brdr .table > tfoot > tr > th, .brdr .table > thead > tr > td, .brdr .table > tbody > tr > td, .brdr .table > tfoot > tr > td { border:none; padding: 14px 3px; vertical-align: middle; }
.tbl-act { background-color: #00A3DA; border: none; padding: 8px 20px; border-radius: 5px; color: #fff; transition: all .3s ease-in-out; }
.tbl-act:hover { box-shadow: 0 4px 8px #9a9a9a; }
.dvd { width: 49.2%; display: inline-block; }
.star { margin-left: -35px; }
.star li { float: left; list-style: none; width: 19.5%; }
.dvd small { font-size: 9px; color: #7a7a7a; display: block; margin-top: 10px; }
.dvd p { color: #7a7a7a;margin: 10px 0; }
.dvd span { display: block; color: #7a7a7a;margin: 20px 0; }
.brdr .table p{ font-size: 16px; color: #2a2a2a; }
.brdr .table { color: #6a6a6a; }

/*  bhoechie tab */
.bhoechie-tab-menu{margin-top: 150px; padding-right: 0px;}
.bhoechie-tab { padding-left: 0px; padding-right: 0px; }
.bhoechie-tab-menu .list-group{margin-bottom: 0;}
.bhoechie-tab-menu .list-group>a{margin-bottom: 0;}
.bhoechie-tab-menu .list-group>a .glyphicon,.bhoechie-tab-menu .list-group>a .fa {color: #5A55A3;}
.bhoechie-tab-menu .list-group>a:first-child{border-top-right-radius:0;-moz-border-top-right-radius: 0;}
.bhoechie-tab-menu .list-group>a:last-child{border-bottom-right-radius: 0;-moz-border-bottom-right-radius: 0;}
.bhoechie-tab-menu .list-group>a.active,.bhoechie-tab-menu .list-group>a.active .glyphicon,.bhoechie-tab-menu .list-group>a.active .fa{background-color:#F1FCFF;background-image: #5A55A3;
  color: #ffffff;}
.bhoechie-tab-content{background-color: #ffffff;padding-top: 10px;}
.bhoechie-tab .bhoechie-tab-content:not(.active){display: none;}
.brdr-other { display: inline-block;width: 90%; border: 1px solid #eee; margin-top: 70px;border-radius: 6px; margin-bottom: 50px; }
.bhoechie-tab-container.brdr-other .list-group-item { border: none;border-radius: 0px; }
.bhoechie-tab .active { margin-top: 40px; }
.bhoechie-tab-content.active img{ display: inline-block;}
.bhoechie-tab-menu .list-group-item .img-div{ width: 30%; display: inline-block; }
.bhoechie-tab-menu .list-group-item  .name-div{ display:inline-block; width:68%; padding-left: 4px; }
.name-div small { color: #777777;  }
.name-div span { color: #2a2a2a; display: block;margin-top:5px;font-size: 12px; }
.name-div strong { font-size: 14px; font-weight: normal; color: #4a4a4a; margin-top: 8px; }
.dp-inl { display: inline-block; position: relative;padding: 0px 15px;top:18px;width:87%; }
.dp-inl strong { display: block; }
.dp-inl small { color: #777777 }
.bg-active { background-color: #f1fcff ; padding: 25px 40px;margin-top:20px;float: left;width: 100%; margin-bottom: 30px;}
.chat-bg-fff { background-color: #fff; padding: 15px 10px; border-radius: 4px; margin: 20px 0; width:51%; display: inline-block;  }
.chat-bg-fff.blue { background-color: #00A3DA; color: #fff; }
.bg-active input { width: 100%; display: inline-block; border: none; padding: 15px; height: 48px; margin-top: 15px;outline: none;}
.replytext { margin-top: -34px;position: relative; padding-right: 15px; font-size:14px; color: #7a7a7a; letter-spacing: 1px;}
#profile-upload{background-image:url('../img/profile-pic.jpg');background-size:cover;background-position: center;height: 120px; width: 120px;border: 1px solid #bbb;position:relative;overflow:hidden;background-color: #E8E8E8;}
#profile-upload:hover input.upload{display:block;}
#profile-upload:hover .hvr-profile-img{display:inline-block;}
#profile-upload .fa{ margin: auto;position: absolute;bottom:0px;text-align: center;
    right: 0;padding: 6px;opacity:1;transition:opacity 1s linear;-webkit-transform: scale(.75);
   font-size:26px; color: #fff;}
#profile-upload small { position: absolute; bottom: 28px;left: 25px;color: #c1c1c1;}
#profile-upload input.upload {z-index:1;left: 0;margin: 0;bottom: 0;top: 0;padding: 0;opacity: 0;outline: none;cursor: pointer;position: absolute;background:#ccc;width:100%;display:none;}
#profile-upload .hvr-profile-img {width:100%;height:100%;display: none;position:absolute;vertical-align:middle; position: relative;background: transparent;}
.brdr.profile h4 { font-size: 22px; font-family: 'Circular Book'; margin-top: 25px; }
.profile-setting label { display: block; width: 100%; margin-top: 25px; font-weight: 300;font-size: 16px;  }
.profile-setting input { display: block; width: 55%; height: 46px; border-radius: 4px; border: 1px solid #d2d2d2; padding: 10px;outline: none; }
.profile-setting select { width: 55%; }
.input-lg { padding: 10px; }
.profile-setting button { padding: 10px 55px;}



.checkbox label:after,.radio label:after {content: '';display: table;clear: both;}
.checkbox .cr {position: relative;display: inline-block;border: 1px solid #9a9a9a;width: 1.1em;height: 1.1em;float: left;margin-right: .5em; margin-top: 2px;}
.radio .cr {border-radius: 50%;}
.checkbox .cr .cr-icon,.radio .cr .cr-icon { position: absolute;font-size: .6em;line-height: 0;top: 50%;
    left: 20%;}
.checkbox label input[type="checkbox"],.radio label input[type="radio"] {display: none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,.radio label input[type="radio"] + .cr > .cr-icon {transform: scale(3) rotateZ(-20deg);opacity: 0;transition: all .3s ease-in;}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,.radio label input[type="radio"]:checked + .cr > .cr-icon {transform: scale(1) rotateZ(0deg);opacity: 1;}
.checkbox label input[type="checkbox"]:disabled + .cr,.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;}
.pdl-0 { padding-left: 0px!important; }
.brdr.profile h5 { color: #777777; margin-top: 20px; font-family:'Circular Book'!important;font-size: 17px; }
.dvd-20 { width: 20%;display: inline-block; }
.my-btn,.my-btn2 {margin-top: 25px;border:0px;color:#fff;box-shadow:0 0 1px #ccc;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: linear;box-shadow:0px 0 0 #31708f  inset;font-size: 17px; background-color: #00A3DA;padding: 12px 45px; border-radius: 5px; font-weight: bold; width: 40%;border:2px solid #0f99c7; }
.my-btn:hover,.my-btn2:hover {box-shadow:0 0 0 25px #0f99c7  inset;-webkit-transform: scale(1); font-size: 17px;}
.my-btn2 { background-color: #fff; color: #00A3DA; margin-left: 25px;  }
.my-btn2:hover { color: #fff; }
.sp-mod { color: #00A3DA; cursor: pointer; }
.dvd.cl-drk p{ color: #4a4a4a; }
.stng-inv { padding: 40px 0;}
.fndng { font-size: 15px; color: #00A3DA;}
.logo-text img { display: inline-block; }
.logo-text p { display: inline-block; width: 25%; }
.stng-inv h3 { margin: 0px; font-family: 'Circular Book'; margin-top: 20px; }
.clr { color:#414141!important; }
.stng-inv p { font-size: 16px; margin-top: 18px; }
.pdt-35 { padding-top: 34px; font-size: 24px; padding-bottom: 10px;font-family: 'Circular Book'; color: #7a7a7a;}
.stng-inv table td { font-size: 16px; }
.stng-inv table th { font-size: 17px; padding: 20px 0; color: #717171; font-weight: 300; }
#toggle {margin-top: 40px;
 /*width:14.5%;*/
  display: inline-block;}
#toggle div {width: 100%;height: 5px;background:#00a3da;margin: 4px auto;transition: all 0.3s;
  backface-visibility: hidden;}
#menu {width: 100%;padding:15px 20px;margin-top:10px;border-radius: 3px;display: none;background-color: #00A3DA; color:#b3efff;}
#toggle strong{ background-color: #00a3da; padding:15px 30px; color: #fff; cursor: pointer;position: relative;z-index: 999; }
#toggle .caret { margin-left:15px; }
#toggle span { border:1px solid blue;margin-left: -5px;padding: 14px;}
.srch-bx { display: inline-block; width: 85%;margin-left: -7px; position: relative;}
.srch-bx input { border:2px solid #777777; padding: 10px; width: 60%;outline: none; }
.srch-bx i { position: relative; top:0px; left: -25px;}
.checkbox.white label{ color: #b3efff!important; }
.checkbox.white i { color: #b3efff!important; }
.checkbox.white .cr { border: 1px solid #7DDBF5; }
#menu h4 {font-size: 16px;margin-top: 20px; }
.checkbox.white { margin-top:10px; }
.checkbox.white .cr { margin-right: 1em; }
.searchboxes .group {position: relative;margin-top:10px;margin-bottom: 25px;}
.searchboxes input {font-size: 17px;padding: 10px 10px 5px 20px;display: block;width:70%;background-color: #00a3da;border: none;border-bottom: 1px solid #7DDBF5;}
.searchboxes input:focus {outline: none;}
.searchboxes label {color:#7DDBF5!important;font-size:14px;font-weight: normal;position: absolute;pointer-events: none;left:17px;top:17px;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}
.searchboxes input:focus ~ label, .searchboxes input:valid ~ label {top: -8px;font-size: 14px;color: ##7DDBF5;}
.searchboxes .bar {position: relative;display: block;width: 70%;}
.searchboxes .bar:before, .searchboxes .bar:after {content: '';height: 2px;width: 0;bottom: 1px;position: absolute;background: #7ddbf5;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}
.searchboxes .bar:before {left: 50%;}
.searchboxes .bar:after {right: 50%;}
.searchboxes input:focus ~ .bar:before, .searchboxes input:focus ~ .bar:after {width: 50%;}
.searchboxes .highlight {position: absolute;height: 60%;width: 100px;top: 25%;left: 0;pointer-events: none; opacity: 0.5;}
.searchboxes i { position: absolute;top: 20px; }
.searchboxes input:focus ~ .highlight {-webkit-animation: inputHighlighter 0.3s ease;-moz-animation: inputHighlighter 0.3s ease;  animation: inputHighlighter 0.3s ease;}
@-webkit-keyframes inputHighlighter {from {background: #5264AE;}
  to {width: 0;background: transparent;}}
@-moz-keyframes inputHighlighter {from {background: #5264AE;}
  to {width: 0;background: transparent;}}
@keyframes inputHighlighter {from {background: #5264AE;}to {width: 0;background: transparent;}}
.fa-calendar-plus-o { font-size: 18px; margin-right: 10px;}
.form-group.sl-box.filter { margin-top: 36px; margin-bottom: 0px; }
.form-group.sl-box.filter select { width:72%; display: inline-block;}
#no-more-tables th { padding-top: 15px; font-weight: 300; color: #777777; }
.checkbox.white .cr { border-radius: 2px; }






/*Media query for table*/
@media only screen and (max-width: 800px) {   
#no-more-tables table,  #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr { display: block;   border-top: 1px solid #e6e6e6;}
#no-more-tables thead tr {  position: absolute;top: -9999px;left: -9999px;}
#no-more-tables td {border: none;position: relative;padding-left: 50%;white-space: normal;text-align:left;font-size: 13px;}
#no-more-tables td:before { position: absolute;top: 6px;left: 6px;width: 45%; padding-right: 10px;    white-space: nowrap;text-align:left;font-weight: bold;}
#no-more-tables td:before { content: attr(data-title); }
}

@media only screen and (max-width: 640px) {
.stng-inv p { font-size: 10.5px; }
.brdr { padding: 10px 3px; }
.profile-setting input { width: 100%; }
}