<div class="footer" style="margin-top:55px" ng-init="init()">
    <div class="container">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a class="active" ui-sref="app.customer-request">Find Customer Request</a>
                </li>
                <li>
                    <a class="" ui-sref="app.my-bids">My Bids</a>
                </li>
                <li>
                    <a class="" ui-sref="app.my-messages">Messages</a>
                </li>
                <li>
                    <a class="" ui-sref="app.trasporter-profile-settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- My quotation section Starts -->
<section class="find-cust-req">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="toggle"><strong>Filters<i class="caret"></i></strong></div>
                <div class="srch-bx"><input type="search" name="" placeholder="Search shipments by pickup location"><i class="fa fa-search"></i></div>
                <div id="menu">
                <div class="row">
                <div class="col-md-4">
                     <h4>Category of Shipment</h4>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Palletized cargo
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Machienry
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Steel bars and pipes
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Dangerous goods
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Bulk material
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Construction
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Cood items
                        </label>
                     </div>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>others
                        </label>
                     </div>
                     <h4>Maximum bid</h4>
                </div>
                 <div class="col-md-5">
                     <h4>Leaving form</h4>
                      <form class="searchboxes">
                        <div class="group">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Search city or country</label><i class="fa fa-search"></i>
                        </div>
                        <h4>Going to</h4>
                        <div class="group">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Search city or country</label><i class="fa fa-search"></i>
                        </div>

                        </form>
                        <h4>Ending (from now to departure date)</h4>
                        <h4>Delivery date</h4>
                        <i class="fa fa-calendar-plus-o"></i><span>Select date</span>
                        <h4>Trip type</h4>
                        <div class="dvd">
                            <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Single trip
                        </label>
                     </div>
                        </div>
                        <div class="dvd">
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>contract
                            </label>
                        </div>
                        </div>
                     </div>
               
                <div class="col-md-3">
                     <h4>Truck types</h4>
                     <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Container
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Curtainside
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Tipper
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Car transporter
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Reefer
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Bus
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Flatbed
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Lowbed
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Tanker
                            </label>
                        </div>
                        <div class="checkbox white">
                        <label class="pdl-0">
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>Pickup
                            </label>
                        </div>
                </div> 
                </div>   
                </div>
            </div>
            <div class="col-md-3">
               <div class="form-group sl-box filter">
                    <label for="usr">Sort by</label>
                    <select class="form-control input-lg">
                        <option value="Afghanistan">Price (lowest first)</option>
                        <option value="Albania">Destination</option>
                        <option value="Algeria">other</option>
                        <option value="American Samoa">other</option>
                    </select>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="brdr">
                       <h4>Accepted quotations list<a class="" href="">view</a></h4>
                <div id="no-more-tables">
                <table>
                <thead>
                    <tr>
                        <th>Bids</th>
                        <th>Lowest bid</th>
                        <th>Truck type</th>
                        <th>load type</th>
                        <th>contract type</th>
                        <th>leaving from</th>
                        <th>Going to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Code">23</td>
                        <td data-title="Company">234 SAR</td>
                        <td data-title="Price" class="numeric"><img src="img/assets/container.png"></td>
                        <td data-title="Change" class="numeric"><img src="img/assets/others.png"></td>
                        <td data-title="Change %" class="numeric">Single trip</td>
                        <td data-title="Open" class="numeric">Loream Ipsum</td>
                        <td data-title="High" class="numeric">Loream Ipsum</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
            </div>
        </div>
                    <div class="row">
            <div class="col-md-12">
                <div class="brdr">
                       <h4>Accepted quotations list<a class="" href="">view</a></h4>
                <div id="no-more-tables">
                <table>
                <thead>
                    <tr>
                        <th>Bids</th>
                        <th>Lowest bid</th>
                        <th>Truck type</th>
                        <th>load type</th>
                        <th>contract type</th>
                        <th>leaving from</th>
                        <th>Going to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Code">23</td>
                        <td data-title="Company">234 SAR</td>
                        <td data-title="Price" class="numeric"><img src="img/assets/container.png"></td>
                        <td data-title="Change" class="numeric"><img src="img/assets/others.png"></td>
                        <td data-title="Change %" class="numeric">Single trip</td>
                        <td data-title="Open" class="numeric">Loream Ipsum</td>
                        <td data-title="High" class="numeric">Loream Ipsum</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="brdr">
                       <h4>Accepted quotations list<a class="" href="">view</a></h4>
                <div id="no-more-tables">
                <table>
                <thead>
                    <tr>
                        <th>Bids</th>
                        <th>Lowest bid</th>
                        <th>Truck type</th>
                        <th>load type</th>
                        <th>contract type</th>
                        <th>leaving from</th>
                        <th>Going to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Code">23</td>
                        <td data-title="Company">234 SAR</td>
                        <td data-title="Price" class="numeric"><img src="img/assets/container.png"></td>
                        <td data-title="Change" class="numeric"><img src="img/assets/others.png"></td>
                        <td data-title="Change %" class="numeric">Single trip</td>
                        <td data-title="Open" class="numeric">Loream Ipsum</td>
                        <td data-title="High" class="numeric">Loream Ipsum</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="brdr">
                       <h4>Accepted quotations list<a class="" href="">view</a></h4>
                <div id="no-more-tables">
                <table>
                <thead>
                    <tr>
                        <th>Bids</th>
                        <th>Lowest bid</th>
                        <th>Truck type</th>
                        <th>load type</th>
                        <th>contract type</th>
                        <th>leaving from</th>
                        <th>Going to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Code">23</td>
                        <td data-title="Company">234 SAR</td>
                        <td data-title="Price" class="numeric"><img src="img/assets/container.png"></td>
                        <td data-title="Change" class="numeric"><img src="img/assets/others.png"></td>
                        <td data-title="Change %" class="numeric">Single trip</td>
                        <td data-title="Open" class="numeric">Loream Ipsum</td>
                        <td data-title="High" class="numeric">Loream Ipsum</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- My quotation section Ends -->

<script>
    $("#toggle").click(function() {
  $(this).toggleClass("on");
  $("#menu").slideToggle();
});
</script>
