<div class="footer" style="margin-top:55px" ng-init="init()">
    <div class="container">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a class="" ui-sref="app.request-quotation">Request a quotation</a>
                </li>
                <li>
                    <a class="" ui-sref="app.my-quotations">My quotations</a>
                </li>
                <li>
                    <a class="active" ui-sref="app.messages">Messages</a>
                </li>
                <li>
                    <a class="" ui-sref="app.profile-settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- My quotation section Ends -->

    <div class="container">
    <div class="row">
        <div class="bhoechie-tab-container brdr-other">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                  <div ng-repeat="T in messagedata" ng-class="{ active: isSet(T.id) }">
                <a href="" ng-click="setTab(T.id)" class="list-group-item" >
                 <div class="img-div">
                  <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                </div>
                <div class="name-div">
                  <strong>{{T.name}}<small class="pull-right">1 day ago</small></strong>
                  <span>{{T.Price}}</span>
                </div>  
                </a>
                </div>
                <!--<a href="#" class="list-group-item active">
                <div class="img-div">
                  <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                </div>
                <div class="name-div">
                  <strong>Dmitri Patrinco<small class="pull-right">1 day ago</small></strong>
                  <span>loream ipsum dolor</span>
                </div>  
                </a>
                <a href="#" class="list-group-item">
                 <div class="img-div">
                  <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                </div>
                <div class="name-div">
                  <strong>Dmitri Patrinco<small class="pull-right">1 day ago</small></strong>
                  <span>loream ipsum dolor</span>
                </div>  
                </a>
                <a href="#" class="list-group-item">
                 <div class="img-div">
                  <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                </div>
                <div class="name-div">
                  <strong>Dmitri Patrinco<small class="pull-right">1 day ago</small></strong>
                  <span>loream ipsum dolor</span>
                </div>  
                </a>-->
                
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content"ng-show="isSet(1)"> >
                    <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                    <div class="dp-inl">
                    <strong>Damitri Pricaln1</strong>
                    <small>Offline<a class="pull-right" href="">Give feedback</a></small>
                    </div>
                    <div class="bg-active">
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <input type="text" name="chatbox" placeholder="type your message">
                    <strong class="pull-right replytext">REPLY</strong>
                    </div>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content"ng-show="isSet(2)">
                    <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                    <div class="dp-inl">
                    <strong>Damitri Pricaln2</strong>
                    <small>Offline<a class="pull-right" href="">Give feedback</a></small>
                    </div>
                    <div class="bg-active">
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <input type="text" name="chatbox" placeholder="type your message">
                    <strong class="pull-right replytext">REPLY</strong>
                    </div>
                </div>
    
                <!-- hotel search -->
                <!--<div class="bhoechie-tab-content">
                    <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                    <div class="dp-inl">
                    <strong>Damitri Pricaln</strong>
                    <small>Offline<a class="pull-right" href="">Give feedback</a></small>
                    </div>
                    <div class="bg-active">
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <input type="text" name="chatbox" placeholder="type your message">
                    <strong class="pull-right replytext">REPLY</strong>
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <img class="img-responsive" src="img/assets/profile-chat-icon.jpg">
                    <div class="dp-inl">
                    <strong>Damitri Pricaln</strong>
                    <small>Offline<a class="pull-right" href="">Give feedback</a></small>
                    </div>
                    <div class="bg-active">
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff text-center">Loream ipsum dolor ist ipsum</div>
                    <div class="chat-bg-fff blue text-center pull-right">Loream ipsum dolor ist ipsum</div>
                    <input type="text" name="chatbox" placeholder="type your message">
                    <strong class="pull-right replytext">REPLY</strong>
                    </div>
                </div>-->
             </div>
        </div>
  </div>
</div>

<!-- Message pan -->
<script type="text/javascript">
    $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>

</html>