<div class="footer" style="margin-top:55px" ng-init="init()">
    <div class="container">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a class="" ui-sref="app.customer-request">Find Customer Request</a>
                </li>
                <li>
                    <a class="active" ui-sref="app.my-bids">My Bids</a>
                </li>
                <li>
                    <a class="" ui-sref="app.my-messages">Messages</a>
                </li>
                <li>
                    <a class="" ui-sref="app.trasporter-profile-settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <!-- My quotation section Starts -->
    <section class="my-quotation">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{ active: isSet(1) }">
                            <a href ng-click="setTab(1)">Open Bids list</a>
                        </li>
                        <li ng-class="{ active: isSet(2) }">
                            <a href ng-click="setTab(2)">Accepted Bids list</a>
                        </li>
                        <li ng-class="{ active: isSet(3) }">
                            <a href ng-click="setTab(3)">Closed Bids list</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div id="" ng-show="isSet(1)">
                        <div class="form-group sl-box text-right">
                            <label for="usr">Sort by</label>
                            <select class="form-control input-lg pull-right">
                                        <option value="Afghanistan">Price</option>
                                        <option value="Albania">Destination</option>
                                        <option value="Algeria">other</option>
                                        <option value="American Samoa">other</option>
                                    </select>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><a href="">View</a>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/other.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><a href="">View</a>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><s    <li ng-class="{ active: isSet(1) }">
                            <a href ng-click="setTab(1)">Open Bids list</a>
                        </li>pan>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/other.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">    <li ng-class="{ active: isSet(1) }">
                            <a href ng-click="setTab(1)">Open Bids list</a>
                        </li>
                            <strong>Quotation ID : 9292583</strong><a href="">View</a>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/other.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><a href="">View</a>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/other.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><a href="">View</a>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/other.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="" ng-show="isSet(2)">
                        <div class="form-group sl-box text-right">
                            <label for="usr">Sort by</label>
                            <select class="form-control input-lg pull-right">
                                        <option value="Afghanistan">Price</option>
                                        <option value="Albania">Destination</option>
                                        <option value="Algeria">other</option>
                                        <option value="American Samoa">other</option>
                                    </select>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 7675757</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pdlr-25">
                                            <h4>Quotation Id : 09092 <a href="">Winner transport profile</a></h4>
                                            <h5>Trip Details</h5>
                                            <h6>Leaving from</h6>
                                            <p>Street address : Loream ipsum</p>
                                            <p>City : Loream ipsum</p>
                                            <p>Country : Loream ipsum</p>
                                            <p>Pin code : Loream ipsum</p>
                                            <h6>Going to</h6>
                                            <p>Street address : Loream ipsum</p>
                                            <p>City : Loream ipsum</p>
                                            <p>Country : Loream ipsum</p>
                                            <p>Pin code : Loream ipsum</p>
                                            <h6>Departure date</h6>
                                            <p>07/11/2017</p>
                                            <h5>Vehicle Details</h5>
                                            <img class="img-responsive" src="img/assets/container.png">
                                            <p>Car transporter</p>
                                            <h6>Tons (T)<span>Floor (M)</span></h6>
                                            <p>37 <span>12</span></p>
                                            <h5>Load Details</h5>
                                            <img class="img-responsive" src="img/assets/pallitized_goodsf.png">
                                            <small>Palletized Cargo</small>
                                            <h6>Description</h6>
                                            <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</strong>
                                            <h6>Pictures</h6>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                            </div>
                                            <h6>Trip contract</h6>
                                            <p>Single trip</p>
                                            <h4>Quotation price : 394 UAE</h4>
                                        </div>
                                        <div class="modal-footer">
                                       {{Q._id}}     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="" ng-show="isSet(3)">
                     
                        <div class="brdr">
                            <strong>Quotation ID : 7675757</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal1">View</button>
                            <div id="myModal1" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pdlr-25">
                                            <h4>Quotation Id : 09092 <a href="">Winner transport profile</a></h4>
                                            <h5>Trip Details</h5>
                                            <h6>Leaving from</h6>
                                            <p>Street address : Loream ipsum</p>
                                            <p>City : Loream ipsum</p>
                                            <p>Country : Loream ipsum</p>
                                            <p>Pin code : Loream ipsum</p>
                                            <h6>Going to</h6>
                                            <p>Street address : Loream ipsum</p>
                                            <p>City : Loream ipsum</p>
                                            <p>Country : Loream ipsum</p>
                                            <p>Pin code : Loream ipsum</p>
                                            <h6>Departure date</h6>
                                            <p>07/11/2017</p>
                                            <h5>Vehicle Details</h5>
                                            <img class="img-responsive" src="img/assets/container.png">
                                            <p>Car transporter</p>
                                            <h6>Tons (T)<span>Floor (M)</span></h6>
                                            <p>37 <span>12</span></p>
                                            <h5>Load Details</h5>
                                            <img class="img-responsive" src="img/assets/pallitized_goodsf.png">
                                            <small>Palletized Cargo</small>
                                            <h6>Description</h6>
                                            <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</strong>
                                            <h6>Pictures</h6>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                            </div>
                                            <h6>Trip contract</h6>
                                            <p>Single trip</p>
                                            <h4>Quotation price : 394 UAE</h4>
                                        </div>
                                        <div class="modal-footer">
                                       {{Q._id}}     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- My quotation section Ends -->