<div ng-init="init()">
    <div class="footer" style="margin-top:55px">
        <div class="container">
            <div class="container">
                <ul class="list-inline">
                    <li>
                        <a class="" ui-sref="app.request-quotation">Request a quotation</a>
                    </li>
                    <li>
                        <a class="active" ui-sref="app.my-quotations">My quotations</a>
                    </li>
                    <li>
                        <a class="" ui-sref="app.messages">Messages</a>
                    </li>
                    <li>
                        <a class="" ui-sref="app.profile-settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- My quotation section Starts -->
    <section class="my-quotation">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{ active: isSet(1) }">
                            <a href ng-click="setTab(1)">Open Quotations list</a>
                        </li>
                        <li ng-class="{ active: isSet(2) }">
                            <a href ng-click="setTab(2)">Booked Quotations list</a>
                        </li>
                        <li ng-class="{ active: isSet(3) }">
                            <a href ng-click="setTab(3)">Closed Quotations list</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div id="" ng-show="isSet(1)">
                      
                        <div class="form-group sl-box text-right">
                              <p class="pull-left" ng-if="OpenQuotData == ''">No Data Found!</p>
                            <label for="usr">Sort by</label>
                            <select class="form-control input-lg pull-right">
                                        <option value="Afghanistan">Price</option>
                                        <option value="Albania">Destination</option>
                                        <option value="Algeria">other</option>
                                        <option value="American Samoa">other</option>
                                    </select>
                        </div>
                        <div class="brdr" ng-repeat="O in OpenQuotData">
                            <strong>Quotation ID : {{O._id}}</strong><a href="" ng-click="ViewOpenQuotation(O)">View</a>
                            <table>
                                <tr>
                                    <td>Bid count</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Posted on</td>
                                </tr>
                                <tr>
                                    <td><span>0</span></td>
                                    <td>{{O.price}} SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><span ng-repeat="a in O.loadDetails | limitTo:'1'"><img class="img-responsive" src="img/assets/others.png"></span></td>
                                    <td>{{O.leaveAddress[0].street}}</td>
                                    <td>{{O.destinationAddress[0].street}}</td>
                                    <td>{{O.departureDate | date}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="" ng-show="isSet(2)">
                        <div class="form-group sl-box text-right">
                            <label for="usr">Sort by</label>
                            <select class="form-control input-lg pull-right">
                                        <option value="Afghanistan">Price</option>
                                        <option value="Albania">Destination</option>
                                        <option value="Algeria">other</option>
                                        <option value="American Samoa">other</option>
                                    </select>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 4545353</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body pdlr-25">
                                            <h4>Quotation Id : 09092 <a href="">Winner transport profile</a></h4>
                                            <h5>Trip Details</h5>
                                            <h6>Leaving from</h6>
                                            <p>Street address : Loream ipsum</p>
                                            <p>City : Loream ipsum</p>
                                            <p>Country : Loream ipsum</p>
                                            <p>Pin code : Loream ipsum</p>
                                            <h6>Going to</h6>
                                            <p>Street address : Loream ipsum</p>
                                            <p>City : Loream ipsum</p>
                                            <p>Country : Loream ipsum</p>
                                            <p>Pin code : Loream ipsum</p>
                                            <h6>Departure date</h6>
                                            <p>07/11/2017</p>
                                            <h5>Vehicle Details</h5>
                                            <img class="img-responsive" src="img/assets/container.png">
                                            <p>Car transporter</p>
                                            <h6>Tons (T)<span>Floor (M)</span></h6>
                                            <p>37 <span>12</span></p>
                                            <h5>Load Details</h5>
                                            <img class="img-responsive" src="img/assets/pallitized_goodsf.png">
                                            <small>Palletized Cargo</small>
                                            <h6>Description</h6>
                                            <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</strong>
                                            <h6>Pictures</h6>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                                                </div>
                                            </div>
                                            <h6>Trip contract</h6>
                                            <p>Single trip</p>
                                            <h4>Quotation price : 394 UAE</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="" ng-show="isSet(3)">
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>

                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/bus.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                        <div class="brdr">
                            <strong>Quotation ID : 9292583</strong><button type="button" class="btn view" data-toggle="modal"
                                data-target="#myModal">View</button>
                            <table>
                                <tr>
                                    <td>Accepted date</td>
                                    <td>Lowest bid</td>
                                    <td>Truck type</td>
                                    <td>Load type</td>
                                    <td>leaving from</td>
                                    <td>Going to</td>
                                    <td>Transporter name</td>
                                </tr>
                                <tr>
                                    <td><span>Loream ipsum</span></td>
                                    <td>234 SAR</td>
                                    <td><img class="img-responsive" src="img/assets/container.png"></td>
                                    <td><img class="img-responsive" src="img/assets/others.png"></td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                    <td>Loream ipsum</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- My quotation section Ends -->

    <script type="text/ng-template" id="ViewOpenQuot.html">

        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
        </div>
        <div class="modal-body pdlr-25">
            <p><b>Quotation Id : {{QuationId}} <a href="">Winner transport profile</b></a>
            </p>
            <p>Trip Details</p>
            <h6>Leaving from</h6>
            <p>Street address : {{LeaveStreet}}</p>
            <p>City : {{LeaveCity}}</p>
            <p>Country : {{LeaveCountry}}</p>
            <p>Pin code : {{LeavePin}}</p>
            <h6>Going to</h6>
            <p>Street address : {{GoingStreet}}</p>
            <p>City : {{GoingCity}}</p>
            <p>Country : {{GoingCountry}}</p>
            <p>Pin code :{{GoingPin}}</p>
            <h6>Departure date</h6>
            <p>{{DepartDate | date}}</p>
            <h5>Vehicle Details</h5>
            <div ng-repeat="L in QuotationCarrier">
            <img class="img-responsive" src="img/assets/container.png">
            <p>{{L}} </p>
            </div>
            <h6>Tons (T)<span>Floor (M)</span></h6>
            <p>37 <span>12</span></p>
            <h5>Load Details</h5>
            <div ng-repeat="l in Load">
                <ul class="list-inline">
                    <li>
                        <img class="img-responsive" src="img/assets/pallitized_goodsf.png">
                        <small>{{l}}</small>
                    </li>
                    <ul>

            </div>
            <h6>Description</h6>
            <strong>{{Description}}</strong>
            <h6>Pictures</h6>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 2.png">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive center-block" src="img/assets/Rectangle 13 Copy 3.png">
                </div>
            </div>
            <h6>Trip contract</h6>
            <p>{{Trip}} trip</p>
            <h4>Quotation price : 394 UAE</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
</div>
</script>