 <div id="" class="footer">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a class="" href="">About Us</a>
                </li>
                <li>
                    <a class="" href="">Our Team</a>
                </li>
                <li>
                    <a class="" href="">Our Customers</a>
                </li>
                <li>
                    <a class="" href="">Our Transporters</a>
                </li>
                <li>
                    <a class="" href="">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>